.App {
    display: flex;
    gap: 8px;
    flex-direction: column;
    left: 50vw;
    top: 50vh;
    position: absolute;
    transform: translate(-200px, -200px);
    width: 400px;
    box-sizing: border-box;

    z-index: 1;
    pointer-events: none;
    user-select: none;
}

h1, h2, p, .resizer {
    margin: 0;
    overflow-x: visible;
    white-space: nowrap;
    opacity: 0.7;
    transition: opacity 0.5s;
    pointer-events: all;
}

h1 {
    margin-top: -96px;
}

h1:hover, h2:hover, p:hover, .resizer:hover {
    opacity: 1;
}

.resizer {
    border: 2px solid black;
    min-height: 20px;
    min-width: 20px;
    width: 400px;
    height: 400px;
    box-sizing: border-box;
    position: relative;
}

.resize--top {
    position: absolute;
    top: -8px;
    left: 8px;
    right: 8px;
    height: 16px;
    cursor: row-resize;
}

.resize--top-right {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 16px;
    height: 16px;
    cursor: ne-resize;
}

.resize--right {
    position: absolute;
    top: 8px;
    right: -8px;
    bottom: 8px;
    width: 16px;
    cursor: col-resize;
}

.resize--bottom-right {
    position: absolute;
    bottom: -8px;
    right: -8px;
    width: 16px;
    height: 16px;
    cursor: se-resize;
}

.resize--bottom {
    position: absolute;
    bottom: -8px;
    left: 8px;
    right: 8px;
    height: 16px;
    cursor: row-resize;
}

.resize--bottom-left {
    position: absolute;
    bottom: -8px;
    left: -8px;
    width: 16px;
    height: 16px;
    cursor: sw-resize;
}

.resize--left {
    position: absolute;
    top: 8px;
    bottom: 8px;
    left: -8px;
    width: 16px;
    cursor: col-resize;
}

.resize--top-left {
    position: absolute;
    top: -8px;
    left: -8px;
    width: 16px;
    height: 16px;
    cursor: nw-resize;
}


.canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    cursor: grab;
}